<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/main.css"/>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
  <body class="about_me_background">
    <div class="about_me_background">
      <div class="container_main">
        <div class="header">
          <h1>A little about me...</h1>
          <div class='about'>
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="about_me">
                    <p class="text">I strive to work hard and live hard.  I love to eat good food, travel anywhere new, attend shows, and achieve goals.  Challenges and positive influences are welcomed and pursued.  I seek to be inspired and learn new topics, but I also enjoy a healthy dose of relaxation.  Fond of the great outdoors and all activities water related, I crave new adventures and making memories.</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 section">
                  <ul class="img">
                    <li>
                      <a href="http://www.doc.govt.nz/parks-and-recreation/places-to-go/nelson-tasman/places/abel-tasman-national-park/">
                      <img src="/static/images/abeltasman2.png">
                      <span class="img_txt"><span>Abel Tasman National Park, New Zealand</span></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-4 section">
                  <ul class="img">
                    <li>
                      <a href="http://www.greatbarrierreef.org/">
                      <img src="/static/images/bigclam.png">
                      <span class="img_txt"><span>Great Barrier Reef, Australia</span></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-4 section">
                  <ul class="img">
                    <li>
                      <a href="http://www.doc.govt.nz/templates/trackandwalk.aspx?id=40052&epslanguage=en">
                      <img src="/static/images/ngauruhoesummit2.png">
                      <span class="img_txt"><span>Mt. Ngauruhoe, New Zealand</span></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/work-experience">Work</a></li>
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="space">
        </div>
        <div class="footer">
          <div class="social_links">
            <ul class="blah">
              <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
              <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
              <li><a href="https://www.google.com/maps/place/The+Neck+9382,+New+Zealand/@-44.4576134,169.0509639,11z/data=!3m1!4b1!4m2!3m1!1s0x6cd54d7ae052454d:0x500ef8684795f50" class="fa fa-md fa-camera-retro"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_space">
        </div>
      </div>
    </div>

    <!-- <%= yield %> -->

  </body>
</html>
