<!DOCTYPE html>
<html>
<head>
  <title>Evelyn Bell</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/main.css"/>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
  <body class="home_background">
    <div class="home_background">
      <div class="container_main">
        <div class="header">
          <h1>Evelyn Bell</h1>
          <div class='intro'>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrapper">
                    <p class="text">Aspiring software developer.</p>
                    <span class="text1">Enthusiast of</span>
                    <div class="rotating_word">
                      <span class="text">traveling.</span>
                      <span class="text">concerts.</span>
                      <span class="text">new adventures.</span>
                      <span class="text">learning.</span>
                      <span class="text">sports.</span>
                      <span class="text">the outdoors.</span>
                      <span class="text">happy hours.</span>
                      <span class="text">photography.</span>
                      <span class="text">scenic routes.</span>
                      <span class="text">campfires.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="navigation">
            <ul>
              <li><a href="/about-me">About Me</a></li>
              <li><a href="/work-experience">Work</a></li>
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="space">
        </div>
        <div class="footer">
          <div class="social_links">
            <ul>
              <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
              <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
              <li><a href="https://www.google.com/maps/place/Bells+Beach+VIC,+Australia/@-38.3672591,144.2837531,13z/data=!4m2!3m1!1s0x6ad464d36223400b:0x4076889a750072b" class="fa fa-md fa-camera-retro"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_space">
        </div>
      </div>
    </div>

  <!-- <%= yield %> -->

  </body>
</html>
