<!DOCTYPE html>
<html>
<head>
  <title>Résumé</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/main.css"/>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
  <body class="resume_background">
    <div class="resume_background">
      <div class="container_main">
        <div class="header">
          <h1>Résumé</h1>
          <div class="resume">
            <div class="resume-headers">
              <h3>Education</h3>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>Code Builders - Seattle, WA</h4>
                    <h5>10/2016 to Present</h5>
                  </div>
                  <ul>
                    <li>
                      Software Developer Apprentice
                    </li>
                    <li><a href="http://school.code.builders/">Code Builders</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>University of Washington - Seattle, WA</h4>
                    <h5>09/2013 to 06/2014</h5>
                  </div>
                  <ul>
                    <li>
                      Certificate in Paralegal Studies
                    </li>
                    <li><a href="https://www.pce.uw.edu/certificates/paralegal-studies">Paralegal Studies Program</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>University of Washington - Seattle, WA</h4>
                    <h5>09/2007 to 06/2011</h5>
                  </div>
                  <ul>
                    <li>
                      B.A. in Law, Societies, and Justice
                    </li>
                    <li>
                      Minors in Japanese, Human Rights
                    </li>
                    <li><a href="https://lsj.washington.edu/">Law Societies and Justice Program</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="resume-headers">
            <h3>Work Experience</h3>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>Code Builders Dev Shop - Seattle, WA</h4>
                  <h5>04/2016 to Present</h5>
                </div>
                <ul>
                  <li class="title">
                    Software Developer
                  </li>
                  <p>
                    Solving software and web issues for clients who hire the Dev Shop
                  </p>
                  <li><a href="http://school.code.builders/">Code Builders</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>Goldberg & Jones, PLLC - Seattle, WA</h4>
                  <h5>02/2014 to 09/2015</h5>
                </div>
                <ul>
                  <li class="title">
                    Legal Assistant
                  </li>
                  <p>
                    Sole legal assistant to 13 attorneys, proofread and edit legal documents, file/e-file documents with the court, communicate with clients and opposing parties/opposing counsels, draft pleadings for uncontested dissolution cases
                  </p>
                  <li class="title">
                    Office Manager
                  </li>
                  <p>
                    Administrative and clerical duties, receptionist duties, management of office material and supplies, filing
                  </p>
                  <li><a href="http://www.goldbergjones-wa.com/">Goldberg Jones Website</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>Starbucks Coffee Company - Seattle, WA</h4>
                  <h5>06/2013 to 02/2014</h5>
                </div>
                <ul>
                  <li class="title">
                    Barista
                  </li>
                  <p>
                    Coffee, tea, and specialty drink making extraordinaire
                  </p>
                  <li><a href="http://www.starbucks.com/">Starbucks Coffee Company</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="work-2nd-row">
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>Kolling Institute of Medical Research - Sydney, Australia</h4>
                  <h5>05/2012 to 11/2012</h5>
                </div>
                <ul>
                  <li class="title">
                    Executive Assistant to the Chief Operating Officer of Research
                  </li>
                  <p>
                    Clerical and administrative work, receptionist duties, executive minute taking, event and conference planning, travel arrangements, liaise between administration team and researchers
                  </p>
                  <p>
                    Raise invoices, process payment requisitions, staff reimbursements, salary payment transactions
                  </p>
                  <li><a href="http://www.kolling.usyd.edu.au/">Kolling Institute Website</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>King County Superior Court - Seattle, WA</h4>
                  <h5>03/2011 to 01/2012</h5>
                </div>
                <ul>
                  <li class="title">
                    Partnership for Youth Justice Intern
                  </li>
                  <p>
                    Screen juvenile case files sent from Prosecutor’s Office for qualification to the Diversion Program
                  </p>
                  <li class="title">
                    Community Accountability Board Volunteer
                  </li>
                  <p>
                    Community led hearings discussing crimes committed by youth and formulating a constructive punishment accordingly
                  </p>
                  <li><a href="http://www.kingcounty.gov/courts/JuvenileCourt/diversion.aspx">Diversion Website</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="box_wrapper">
                  <h4>Foster School of Business, University of Washington - Seattle, WA</h4>
                  <h5>09/2007 to 10/2011</h5>
                </div>
                <ul>
                  <li class="title">
                    Administrative Assistant
                  </li>
                  <p>
                    Clerical and administrative work, event facilitation, financial record keeping
                  </p>
                  <li class="title">
                    Center for Leadership and Strategic Thinking Student Worker
                  </li>
                  <p>
                    Coding confidential material, research leadership and management concepts in collaboration with Foster School MBA Program
                  </p>
                  <li><a href="http://foster.uw.edu/centers/leadership/">Center for Leadership and Strategic Thinking</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- </div> -->

          <div class="skills">
            <div class="resume-headers">
              <h3>Skills</h3>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Ruby</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Python</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Javascript</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>HTML</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>CSS</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Rails</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Flask</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Django</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>React</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>PostgreSQL</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>MongoDB</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Web APIs</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Git</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>Heroku</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>JWT</h4>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>AWS</h4>
                  </div>
                </div>
                <!-- <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>HTML</h4>
                  </div>
                </div> -->
                <!-- <div class="col-md-2">
                  <div class="box_wrapper">
                    <h4>HTML</h4>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about-me">About Me</a></li>
              <li><a href="/work-experience">Work</a></li>
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="space">
        </div>
        <div class="footer">
          <div class="social_links">
            <ul>
              <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
              <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
              <li><a href="https://www.google.com/maps/place/Harbor+Ave/@47.5944306,-122.3861181,17z/data=!3m1!4b1!4m5!3m4!1s0x54904074da6a61e7:0xd00e94ca32fa93d8!8m2!3d47.5944306!4d-122.3839241" class="fa fa-md fa-camera-retro"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_space">
        </div>
      </div>
    </div>

    <!-- <%= yield %> -->

  </body>
</html>
