<!DOCTYPE html>
<html>
<head>
  <title>Work Experience</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/main.css"/>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
  <body class="work_background">
    <div class="work_background">
      <div class="container_main">
        <div class="header">
          <h1>Work Experience</h1>
          <div class="resume">
            <li><a href="/resume">Résumé</a></li>
          </div>
          <div class="work">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>Goldberg & Jones, PLLC</h4>
                    <h5>Legal Assistant/Office Manager</h5>
                  </div>
                  <ul>
                    <li>
                      Sole legal assistant to 13 family law attorneys, proofread, drafted, and edited legal documents, filed/e-filed documents with Washington Superior Courts
                    </li>
                    <li>
                      Administrative and clerical duties, management of office material
                    </li>
                    <li><a href="http://www.goldbergjones-wa.com/">Goldberg Jones Website</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>Kolling Institute of Medical Research</h4>
                    <h5>Executive Assistant to COO</h5>
                  </div>
                  <ul>
                    <li>
                      Drafted executive meeting minutes, event and conference planning, travel arrangements for executives and other employees, liaise between administrative team and researchers, processed payment requisitions, invoices, salary transactions
                    </li>
                    <li><a href="http://www.kolling.usyd.edu.au/">Kolling Institute Website</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>King County Superior Court</h4>
                    <h5>Partnership for Youth Justice Intern</h5>
                  </div>
                  <ul>
                    <li>
                      Screened juvenile cases sent from Prosecutor's Office for qualification of the Diversion Program
                    </li>
                    <li>
                      Participated in community led hearings discussing crimes committed by youth and formulating a constructive punishment accordingly that avoids arrest and in turn the Juvenile Detention Center
                    </li>
                    <li><a href="http://www.kingcounty.gov/courts/JuvenileCourt/diversion.aspx">Diversion Website</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about-me">About Me</a></li>
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="space">
        </div>
        <div class="footer">
          <div class="social_links">
            <ul>
              <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
              <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
              <li><a href="https://www.google.com/maps/place/Diamond+Head+State+Monument/@21.263278,-157.8048483,17z/data=!4m2!3m1!1s0x7c00728901172099:0x429e0b513230e252" class="fa fa-md fa-camera-retro"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_space">
        </div>
      </div>
    </div>

    <!-- <%= yield %> -->

  </body>
</html>
