<!DOCTYPE html>
<html>
<head>
  <title>Work Experience</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="static/main.css"/>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
  <body class="work_background">
    <div class="work_background">
      <div class="container_main">
        <div class="header">
          <h1>Developer Work Experience</h1>
          <div class="work">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="box_wrapper">
                    <h4>Blue Sky Bridal</h4>
                    <li class="summary">Blue Sky Bridal is a wedding dress consignment shop located in Seattle, WA that hired Code Builders to help update and add new features to its current website.</li>
                  </div>
                  <ul>
                    <li>
                      Created a migration tool using Ruby to transfer calendar appointment data from Genbooks to Acuity. A CSV parser script was created and used along with the Acuity API to help with the transfer of data. Created an account management page using Ruby on Rails and jQuery to view and edit a user's account information. A postgres database was utilized to store all relevant data. The Xero API was also used to create and edit Xero contacts to help manage payments to clients.
                    </li>
                    <li><a href="http://http://www.blueskybridal.com/">Blue Sky Bridal</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="box_wrapper">
                    <h4>Seattle Photo Organizing</h4>
                    <li class="summary">Seattle Photo Organizing helps with the digitizing of photos and videos for easy accessibility and sharing for customers. Code Builders was hired to create a brand new website with a friendly user interface and a powerful back-end to manage the extensive, precious data.</li>
                  </div>
                  <ul>
                    <li>
                      Currently building website front-end using React. A Dropbox authorization was set up to manage and store a user's photos using the Dropbox API and JSON Web Tokens. Working on using d3 to create dynamic photo family trees.
                    </li>
                    <li><a href="http://www.seattlephotoorganizing.com/">Seattle Photo Organizing</a></li>
                  </ul>
                </div>
                <!-- <div class="col-md-4">
                  <div class="box_wrapper">
                    <h4>King County Superior Court</h4>
                    <h5>Partnership for Youth Justice Intern</h5>
                  </div>
                  <ul>
                    <li>
                      Screened juvenile cases sent from Prosecutor's Office for qualification of the Diversion Program
                    </li>
                    <li>
                      Participated in community led hearings discussing crimes committed by youth and formulating a constructive punishment accordingly that avoids arrest and in turn the Juvenile Detention Center
                    </li>
                    <li><a href="http://www.kingcounty.gov/courts/JuvenileCourt/diversion.aspx">Diversion Website</a></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
          <div class="navigation">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about-me">About Me</a></li>
              <li><a href="/resume">Résumé</a></li>
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="space">
        </div>
        <div class="footer">
          <div class="social_links">
            <ul>
              <li><a href="https://www.linkedin.com/pub/evelyn-bell/a1/868/85" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://github.com/xbell" class="fa fa-lg fa-github"></a></li>
              <li><a href="mailto:evieb16@gmail.com" class="fa fa-md fa-envelope"></a></li>
              <li><a href="https://www.google.com/maps/place/Diamond+Head+State+Monument/@21.263278,-157.8048483,17z/data=!4m2!3m1!1s0x7c00728901172099:0x429e0b513230e252" class="fa fa-md fa-camera-retro"></a></li>
            </ul>
          </div>
        </div>
        <div class="footer_space">
        </div>
      </div>
    </div>

    <!-- <%= yield %> -->

  </body>
</html>
